<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ItKariera</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <nav>
        <img src="~/images/logo.png">

        <a href="/Home">
            Home
        </a>

        <a href="/Home/Add">
            Add
        </a>

        <a href="/Home/Profile">
            Profile
        </a>
    </nav>
    @RenderBody()
</body>
</html>