@{
}

<form>
    <div id="links-container" class="glass-theme">
        <a class="active">Sign-in</a>
        <div id="separator"></div>
        <a href="/Home/SignUp">Sign-up</a>
    </div>

    <div class="input-group">
        <input type="email" id="email" name="email" placeholder="">
        <label for="email">Email</label>
    </div>

    <div class="input-group">
        <input type="password" id="password" name="password" placeholder="">
        <label for="password">Password</label>
        <button type="button" id="password-toggler" data-active="no"></button>
    </div>

    <div id="checkbox-container">
        <input type="checkbox" id="remember-checkbox" name="remember">
        <label>Remember me</label>
    </div>

    <button type="submit">Sign-in</button>
</form>